.dishes {
    padding-top: 90px;
}
.dishes__list {
    @include reset-list;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    grid-gap: 30px; 
}

.dishes__item:hover .dishes__stars .stars__icon-star{
    fill: #f9ad3d;
}
.dishes__item:hover .dishes__order {
    background-color: $primary-color;
    color: #252525;
}   
.dishes__rating {
    display: flex;
    align-items: center;
}
.dishes__stars {
    margin-right: 14px;
}
.dishes__rating-value {
    font-size: 12px;
    color: #b3b3b3;
}
