.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // background-color: #232123;
    background-color: transparent;
    transition: background-color 0.3s;
    // border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
}
.header.isScroll {
    background-color: #232123;
    transition: background-color 0.3s;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 28px 0;
}
.header__nav-list {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__nav-list li{
    margin-right: 36px;
}
.header__nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    &:hover {
        color: $primary-color;
    }
    &:active {
        color: darken($primary-color, 10%);
    }
}