// Libs
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/swiper/css/swiper.min';
@import '../../node_modules/simplebar/dist/simplebar.min';
// Mixins
@import 'mixins';

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Fonts
@include font('HelveticaNeue', normal, 300, '../fonts/helveticaneuecyr-light-webfont');
@include font('HelveticaNeue', normal, 400, '../fonts/helveticaneuecyr-roman-webfont');
@include font('HelveticaNeue', normal, 500, '../fonts/helveticaneuecyr-medium-webfont');
@include font('HelveticaNeue', normal, 700, '../fonts/helveticaneuecyr-bold-webfont');
@include font('HelveticaNeue', normal, 900, '../fonts/HelveticaNeueBlackCondensed');

// Variables
$primary-color: #34c759;
$font-family: "HelveticaNeue", "Arial", sans-serif;
// General styles
*, *::before, *::after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
.sr-only:not(:focus):not(:active),
input[type="checkbox"].sr-only,
input[type="radio"].sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.lock {
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    min-width: 1140px;
    font-family: $font-family;
    font-size: 16px;
    line-height: normal;
    color: rgba(255, 255, 255, 0.5);
    background-color: #191919;
}
body.isLock {
    overflow: hidden;
}
svg path,
g path {
    fill: inherit;
}
.container {
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
